---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import FormattedTime from "../../components/FormattedTime.astro";

import { sortPosts } from "../../utils/sort";

import { type CollectionEntry, getCollection } from "astro:content";

import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;

const { Content } = await render(post);

const posts = await getCollection("blog", ({ data }) => data.pubDate);

const relevantPosts = posts.filter(
  (item) =>
    item.data.tag === post.data.tag && item.data.title !== post.data.title
);
const sortedPosts = sortPosts(relevantPosts).slice(0, 3);
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.heroImage}
>
  <article class="article-post">
    <Content />
  </article>

  {
    sortedPosts.length && sortedPosts.length > 0 ? (
      <div class="mt-10 mb-10 w-full">
        <h2
          class="text-xl font-bold tracking-tight md:text-3xl"
          style="margin-bottom: 30px;"
        >
          Еще интересное по теме
        </h2>

        <ul class="flex flex-wrap items-start justify-center lg:justify-between gap-2">
          {sortedPosts.map((post) => (
            <li>
              <a
                href={`/blog/${post.id}/`}
                class="min-h-[280px] flex flex-col justify-between"
              >
                <img
                  class="post-item-image"
                  width={320}
                  height={160}
                  src={post.data.heroImage}
                  alt="post image"
                />

                <h4 class="title">{post.data.title}</h4>

                <div class="flex items-center justify-between">
                  <FormattedDate date={post.data.pubDate} />
                  <FormattedTime time={post.data.time} />
                </div>
              </a>
            </li>
          ))}
        </ul>
      </div>
    ) : null
  }
</BaseLayout>

<style is:inline>
  .article-post {
    p:has(img) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    h1 {
      font-weight: bold;
      margin-bottom: 20px;
    }

    h2,
    h3,
    h4,
    h5 {
      position: relative;
      margin: 40px 0;
      padding-left: 40px;
      font-weight: bold;

      &::before {
        content: "#";
        position: absolute;
        left: 0px;
      }
    }

    h1,
    h3 {
      @media (max-width: 768px) {
        font-size: 25px;
      }
    }

    pre {
      margin-bottom: 20px;
    }

    a {
      color: var(--l-bg-purple);
      text-decoration: underline;
      text-underline-offset: 8px;
    }

    strong {
      padding: 2px 10px;
      border-radius: 5px;
      color: var(--color-orange-50);
      background-color: var(--color-green-500);
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
    }

    li {
      background-color: #ffeded;
      border-bottom-right-radius: 1rem;
      border-left: 0.4rem solid #007bff;
      border-top-right-radius: 1rem;
      margin: 1rem 0;
      padding: 1rem 1.5rem;
      transition:
        color 0.3s ease,
        background-color 0.3s ease,
        border-left-color 0.3s ease;
    }
  }

  table {
    display: block;
    width: 91.25%;
    margin: 20px 0;
    overflow-x: auto;
    white-space: nowrap;
    border: var(--l-bg-purple) 0.1rem solid;
    border-radius: 1.4rem;
  }

  thead {
    white-space: nowrap; /* Запрещаем перенос строк в заголовках */
  }

  tbody {
    overflow-y: hidden;
  }

  table {
    display: block;
  }

  table th {
    position: sticky;
    top: 0;
    padding: 1.5rem 3.5rem;
  }

  table tr {
    padding-left: 2rem;
    text-align: center;
  }

  table td:first-child {
    padding-left: 2rem;
    text-align: left;
    border-left: 0;
  }

  table td {
    padding: 1.5rem 3.5rem;
    border-radius: 0.1rem;
    border-top: 1px solid var(--l-bg-purple);

    &:not(:last-child) {
      border-right: 1px solid var(--l-bg-purple);
    }
  }

  table tr td {
    transition: 0.3s ease;
  }

  table tr:hover td {
    color: var(--black-2);
    background: var(--scroll-bar);
  }

  html.dark .article-post li {
    background-color: #332d2d;
  }
</style>
