---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

import FormattedDate from "../../components/FormattedDate.astro";
import FormattedTime from "../../components/FormattedTime.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>
              <img
                width={720}
                height={360}
                src={post.data.heroImage}
                alt="post image"
              />

              <h4 class="title">{post.data.title}</h4>

              <p class="date">
                <FormattedDate date={post.data.pubDate} />
                <FormattedTime time={post.data.time} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(50% - 1rem);

    img {
      width: 100%;
    }
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    img {
      width: 100%;
    }
  }
</style>
