---
import BaseLayout from "../layouts/BaseLayout.astro";
import GradientText from "../components/shared/GradientText.astro";
import MainLogo from "../components/icons/MainLogo.svg";
import FormattedDate from "../components/FormattedDate.astro";
import FormattedTime from "../components/FormattedTime.astro";
import { getCollection } from "astro:content";
import { sortPosts } from "../utils/sort";

const posts = await getCollection("blog", ({ data }) => data.pubDate);
const sortedPosts = sortPosts(posts.slice(0, 3));
console.log(sortedPosts);
---

<BaseLayout
  title="Shiryaev.io блог о веб разаботке"
  description="Shiryaev.io блог о веб разаботке, javascript, typescript, vue, nuxt"
>
  <div
    class="main-page-block flex flex-col-reverse justify-between gap-5 xl:flex-row items-center"
  >
    <MainLogo class="main-logo" />

    <div class="max-w-[600px] composition">
      <p class="main-title">
        <GradientText
          >Программирование это просто, когда есть отличный помощник
        </GradientText>
        🧑‍💻
      </p>

      <p class="main-text">
        Shiryaev.io – Блог о программировании для разработчиков всех уровней,
        тут вы найдете полезные статьи по программированию, готовые компоненты и
        примеры кода на Javascript, Typescript, Vue, Nuxt, советы по веб-работке
        и многое другое
      </p>

      <p class="main-text">
        Здесь вы найдете идеи для своих проектов и карьеры 🚀
      </p>
    </div>
  </div>

  <div class="mt-10 mb-10 w-full">
    <h2
      class="text-xl font-bold tracking-tight md:text-3xl"
      style="margin-bottom: 30px;"
    >
      Свежее
    </h2>

    <ul
      class="flex flex-wrap items-start justify-center lg:justify-between gap-2"
    >
      {
        sortedPosts.map((post) => (
          <li>
            <a
              href={`/blog/${post.id}/`}
              class="min-h-[280px] flex flex-col justify-between"
            >
              <img
                width={320}
                height={360}
                src={post.data.heroImage}
                alt="post image"
              />

              <h4 class="title">{post.data.title}</h4>

              <div class="flex items-center justify-between">
                <FormattedDate date={post.data.pubDate} />
                <FormattedTime time={post.data.time} />
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  .main-page-block {
    padding-top: 100px;

    @media (max-width: 1250px) {
      padding-top: 30px;
    }

    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  .title {
    margin-top: 10px;
    font-size: 25px;
    max-width: 320px;
  }

  .main-title {
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    .main-logo {
      width: 400px;
      height: 300px;
    }
  }

  @media (max-width: 575px) {
    .main-logo {
      width: 300px;
    }
    .main-title {
      font-size: 40px;
    }
  }

  @media (max-width: 400px) {
    .main-title {
      font-size: 30px;
    }

    .main-text {
      font-size: 14px;
    }
  }
</style>
